nav {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
  background: #4056A1;
  color: #FFFFFF;
  padding: 0 1.5em;
  text-align: center;
}

nav > span {
  font-size: 44px;
  margin-top: 25px;
  font-family: 'Bungee', cursive;
}

nav > div {
  margin-top: 25px;
}

#down-arrows {
  color: red;
}