nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
  background: #4056A1;
  color: #FFFFF0;
  padding: 0 1.5em;
  text-align: center;
}

nav span {
  font-size: 44px;
  margin-top: 25px;
  font-family: 'Bungee', cursive;
}

.nav-buttons {
  margin-top: 25px;
}

#toggle-form {
  color: #FF0000;
}

.nav-buttons:hover #toggle-form {
  animation: bounce 1.5s infinite ease-in-out;
}

@keyframes bounce {
  50%   {transform: translateY(40%);}
  100%  {transform: translateY(0%)}
}