nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  background: #4056A1;
  color: #FFFFFF;
  padding: 0 1.5em;
  text-align: center;
}

span {
  font-size: 44px;
  margin-top: 20px;
  font-family: 'Bungee', cursive;
  align-items: flex-start;
}

div {
  margin-top: 20px;
}

i {
  color: red;
}