.new-tweet {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

form {
  width: 100%;
}

label {
  font-weight: bold;
}

textarea {
  font-size: 16px;
  background: inherit;
  border: none;
  border-bottom: 3px solid #545149;
  resize: none;
  outline: none;
  overflow: hidden;
  height: 24px;
  width: 100%;
}

footer {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  font-size: 20px;
  font-family: 'Bungee', cursive ;
}

button {
  border: none;
  color: #FFFFF0;
  background: #4056A1;
  padding: 5px 8px;
}