.new-tweet {
  display: none;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 25px;
  width: 100%;
}

.error-text {
  display: none;
  text-align: center;
  width: auto;
  margin-top: 0;
  margin-bottom: 20px;
  padding: 0 3px;
  border: 3px solid #FF0000;
  color: #FF0000;
}

form {
  margin: 0 1.5%;
}

label {
  position: absolute;
  font-weight: bold;
  margin-top: 2px;
  margin-left: 3px;
}

textarea {
  font-size: 20px;
  background: inherit;
  border: none;
  border-bottom: 3px solid #545149;
  resize: none;
  outline: none;
  overflow: hidden;
  height: 50px;
  width: 100%;
}

.counter-area {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  font-size: 20px;
  font-family: 'Bungee', cursive ;
}

button {
  border: none;
  color: #FFFFF0;
  background: #4056A1;
  padding: 5px 8px;
}

.over-limit {
  color: #FF0000;
}