.scroll-up {
  display: none;
  position: fixed;
  bottom: 2%;
  right: 2%;
  z-index: 99;
  border: none;
  outline: none;
  background: #FF0000;
  background-image: url("/images/header-background.png");
  color: #FFFFF0;
  height: 75px;
  width: 75px;
  font-size: 30px;
  border-radius: 50%;
}

.scroll-up:hover {
  border: 3px solid #000000;
}